@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,500;0,700;1,200;1,500;1,700&display=swap');

body {
    align-items: center;
    display: flex;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: rgb(12, 13, 14);
  }

a:link { text-decoration: none; }



  h1 {
    display: flex;
    color: white;
    font-size: 48px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    margin: 10px;

  }
  h2 {
    display: flex;
    color: white;
    font-size: 30px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    margin-bottom: 60px;
  }
  h3 {
    display: flex;
    color: white;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
    text-decoration: none;
    margin-top: 10px;
  }

  h4 {
    display: flex;
    color: white;
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
    text-decoration: none;
    margin-top: 100px;
  }


  .div-1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .h1-1 {
    display: flex;
    color:white;
    font-size: 48px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
  }

#txt {
  height: 50px;
}

#cards {
    display: flex;
    flex-wrap: wrap ; 
    gap: 8px;
    max-width: 832px;
    width: calc(100% - 50px);
    margin: 0;
    padding: 0;
  }

.card {
  display: flex;
  background-color: #181A1B;
  border: 1px solid rgba(255, 255, 255,0.06);
  height: 200px;
  width: 200px;
  cursor: pointer;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border-radius: 10px;
  text-align: center;
}

.card:hover::before {
  opacity: 1;
}

.card svg {
  z-index: 3;
}

.card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y), 
    rgba(140, 122, 255, 0.2), 
    transparent 40%
  );
  border-radius: inherit;
  content: '';
  height: 100%; 
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ;
  z-index: 2;
}




.card2 {
  display: flex;
  background-color: #181A1B;
  border: 1px solid rgba(255, 255, 255, 0.06);
  height: 150px;
  width: 832px;
  cursor: pointer;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border-radius: 10px;
  text-align: center;
}

.card2:hover::before {
  opacity: 1;
}

.card2 svg {
  z-index: 3;
}

.card2::before {
  animation-delay: 2s;
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y), 
    rgba(140, 122, 255, 0.2), 
    transparent 40%
  );
  border-radius: inherit;
  content: '';
  height: 100%; 
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ;
  z-index: 2;
}

.homebutton {
  display: block;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 30;
  left: 30;
}

.homebutton img{
  background-color: rgba(0, 0, 0, 0);
  width: 250px;
  display: block;
}

.title {
  display: block;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 150;
}

.line-1 {
  display:flex;
  align-self: center;
  height: 2px;
  width: 1000px;
  background: rgb(255, 255, 255, 0.06);
  margin: 20px;
}

.postcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: rgb(12, 13, 14);
  height: 100vh;
  width: 900px;
}

.datetitle {
  display: flex;
  justify-content: space-between;
  width: 900px;
  align-items: center;
  margin: 0;
}

.posttitle {
  display: flex;
  color: white;
  font-size: 30px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  margin: 10px;
}

.postdate {
  display: flex;
  color: rgba(255, 255, 255, 0.12);
  font-size: 30px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  margin: 10px;
}

.postcontents {
  color: white;
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  margin: 10px;
  padding: 20px;
  padding: 20px; 
  word-wrap: break-word; 
}

